*.o
.gdb_history
Makefile
moc_*
qrc_*
*~
ui_*h
TAGS
/build/harmattan/debian/heebo*
/build/desktop/obj
/build/harmattan/obj
/build/desktop/heebo
/build/harmattan/build-stamp
/build/harmattan/configure-stamp
/build/harmattan/heebo
/build/heebo_*_armel.changes
/build/heebo_*_armel.deb
/build/harmattan/debian/files
/build/symbian/obj
/build/symbian/heebo
/src/editor/editor
/build/symbian/heebo.sis
