*.o
.gdb_history
Makefile
moc_*
qrc_*
*~
ui_*h
TAGS
/build/harmattan/debian/qmljewel*
/build/desktop/obj
/build/harmattan/obj
/build/desktop/qmljewels
/build/harmattan/build-stamp
/build/harmattan/configure-stamp
/build/harmattan/qmljewels
/build/qmljewel_*_armel.changes
/build/qmljewel_*_armel.deb
/build/harmattan/debian/files
