*.o
.gdb_history
Makefile
moc_*
qrc_*
*~
ui_*h
TAGS
/build/harmattan/debian/qmljewel*
/build/desktop/obj
/build/harmattan/obj
/build/desktop/qmljewels
/build/harmattan/build-stamp
/build/harmattan/configure-stamp
/build/harmattan/qmljewels
/build/qmljewel_0.0.1_armel.changes
/build/qmljewel_0.0.1_armel.deb
